*{
    padding: 0;

}



.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}
.img{
    display: flex;
    
}
.navbar a{
    text-decoration: none;
    margin-top: 20px;  
    color: gray; 
}
.navbar i{
    margin-top: 20px;
    font-size: 20px;
}

.navbar button{
    background-color: rgba(241, 90, 34);
    padding: 0;
    color: white;
    width: 110px;
    height: 32px;
    margin-top: 13px;
    border-radius: 3px;
    border: none;
}
.navbar button:hover{
    
    border: 10px solid rgb(241, 90, 34);
}


.border:hover{
    color: orangered;
    border: 1.5px solid orangered;
    height: 18px;
}

/** fruit-section**/
.fruit-section{
    margin-top: 70px;
    display: flex;
}
.fruit-heading{
    margin-left: 100px;
}
.fruit-heading h1{
    font-size: 40px;
}

.fruit-heading button{
    color: white;
    height:30px;
    width: 100px;
    margin-top: 10px;
    border: 2px solid;
}

.fruit-img{
    margin-top: 20px;
}
  

.box:hover{
    border: 2px solid rgb(241, 90, 34);
}

.box2:hover{
    border: 2px solid black;
}

/** service-section **/

.service-section{
    display: flex;
    justify-content: space-evenly;
}
.service-img1{
    width: 30%;
    height: 300px;

}

.service-img2{
    width: 30%;
    height: 300px;
}

.service-img3{
    width: 30%;
    height: 300px;
    
}
.button{
    color: white;
}

/** hero **/

.hero-section{
    display: flex;
}


.hero-data{
      margin-top: 50px;
      margin-left: 70px;
}

.hero-img{
    margin-top: 50px;
}


 /** contact-section **/

.contact-section{
    display: flex;
}


 .contact-data input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
 }